body {
    background-color: #0B0D21;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white !important;
    padding: none;
    margin: none;
}

  .title {
    display: flex;
    flex-direction: row;
  }

  .title-canvas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
  }

.metamask-button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
   transition: transform .7s ease-in-out;
   margin-left:10px;
    
}

.metamask-button:hover{
  transform: rotate(360deg);

}

.mtm-height {
  height: 7em;
}


.metamask-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.help {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: 2em;
    
}

.address {
    color: gainsboro;
    font-size: x-small;
}

.canvas-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2em;
    justify-content: space-evenly
}

#test_text {
    text-align: left;
    padding-left: 2em;
}

.footer {
    background-color: #080620 !important;
    height: 20em;
    padding: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cl {
    color: white;
}

.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.canvas-panel {
    width: 40em;
    height: 35em;
    background-color: #171B42;
    border-style: solid;
    border-color: teal;
    border-radius: 5%;
    border-width: 2.5px;
}

.card {
  border-style: solid;
  background-color: #070916;
  border-color: #5FA5FA;
  border-radius: 5%;
  width: 30em;
  height: 30em;
  border-width: 2.5px;

}

input {
  color: white;
}

textarea {
  color: white;
}

.input-field {
  border-style: solid;
  border-radius: 1em;
  background-color: #111535;
  border-color: #04B6D4;
  border-width: 2.5px;
  color: white;
}

.btn {
  border-style: solid;
  border-radius: 1em;
  background-color: #111535;
  border-color: #04B6D4;
  color: white;
  border-width: 2.5px;
}

.btn:hover {
background-color: #575FA8;
}

/* ovdje pocinje copy */
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 10px; 

  }
  
  .header h2 {
    min-width: fit-content;
  }
  
  .server-message {
    width: 100%;
    padding: 16px;
    border-radius: 5px;
  }
  
  .input-div {
    width: 70%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    color: white;

  }
  
  .input-div .browse {
    color: white;
    font-weight: bold;
  }

  #nftData img{
    height: 60px;
    width: 60px;
    padding: 0.5em;
    border-radius: 15px;
   
  }
  
  /* .queued-div {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 12px;
    position: relative;
    border-radius: 5px;
    border: 1px dotted black;
  } */
  
