.card-panel {
    background-color: #181C41 !important;
    width: 90vw;
    margin-top: 10em !important;
    margin-bottom: 5em !important;
  }

  .help-canvas {
    height: fit-content !important;
  }