body {
    background-color: #0B0D21;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white !important;
    padding: none;
    margin: none;
}

/* footer */
footer {
  background-color: #080620 !important;
}

  .fa {
    padding: 13px;
    text-decoration: none;
    border-radius: 50px;
    margin: 0.1em; 
}

  .fa:hover {
    text-decoration: none;
    color: white;
    opacity: 0.5;
}

.fa-instagram {
  background: #9226FB;
  color: white;
}

.fa-twitter {
  background: #9226FB;
  color: white;
}

.fa-youtube {
  background:#9226FB;
  color: white;
}

.fa-snapchat-ghost {
  background: #9226FB;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
  

/* style for buttons */
.btn {
  border-style: solid !important;
  border-radius: 1em !important;
  background-color: #111535 !important;
  border-color: #04B6D4 !important;
  color: white !important;
  border-width: 2.5px !important;
}

.btn:hover {
background-color: #575FA8 !important;
}


/* navbar */
.title {
  display: flex;
  flex-direction: row;
}

.title-canvas {
  display: flex;
  flex-direction: row;
}


.size {
font-size: small;
}


.help {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: 2em;
  
}
.address {
  color: gainsboro;
  font-size: x-small;
}

/* flex styles */
.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}